*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main--container{
    display: flex;
    flex-direction: column;
    // border: 1px solid;
    height: 100vh;
    font-family: 'Jost', sans-serif;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            padding: 5px;
            text-decoration: none;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            text-align: center;
            color: #000000;
            width: 163px;
            height: 35px;
        }

        .shop-line{
            position: absolute;
            width: 100px;
            height: 0px;
            left: 163px;
            top: 0px;
            border: 1px solid #000000;
            transform: rotate(90deg);
        }

        .discover-line{
            position: absolute;
            width: 100px;
            height: 0px;
            left: 436px;
            top: 0px;
            border: 1px solid #000000;
            transform: rotate(90deg);
        }

        h3{
            padding: 5px;
            width: 394px;
            height: 35px;
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 46px;
            text-align: center;
            letter-spacing: 0.64em;
            text-transform: uppercase;
            color: #000000;
        }

        .company-line{
            position: absolute;
            width: 100px;
            height: 0px;
            left: 870px;
            top: 0px; 
            border: 1px solid #000000;
            transform: rotate(90deg);
        }

        .input-text{
                width: 407px;
                height: 35px;
                display: flex;
                align-items: center;
            input{
                width: 353px;
                height: 29px;
                background-color: #E7E7E7;
                border: 1px solid #000000;
                border-radius: 48px;
                // padding: 4px 120px;

                &::-webkit-input-placeholder{
                    text-align: center;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 32px;
                    color: #000000;
                }
            }

            .input-line{
                position: absolute;
                width: 100px;
                height: 0px;
                left: 1377px;
                top: 0px;
                
                border: 1px solid #000000;
                transform: rotate(90deg);
            }

            .search{
                position: absolute;
                top: 2px;
                left: 1030px;
                
            }
        }

        .cart-line{
            position: absolute;
            width: 100px;
            height: 0px;
            left: 1660px;
            top: 0px;
            border: 1px solid #000000;
            transform: rotate(90deg);
        }

        .social-networks{
            display: flex;
            flex-direction: row;
            // border: 1px solid;
            justify-content: space-evenly;
            width: 170px;
            gap: 5px;
            padding: 5px 40px;

            .facebook-line{
                position: absolute;
                width: 100px;
                height: 0px;
                left: 1704px;
                top: 0px;
                border: 1px solid #000000;
                transform: rotate(90deg);
            }

            .instagram-line{
                position: absolute;
                width: 100px;
                height: 0px;
                left: 1742px;
                top: 0px;
                border: 1px solid #000000;
                transform: rotate(90deg);
            }
            .heart-line{
                position: absolute;
                width: 100px;
                height: 0px;
                left: 1780px;
                top: 0px;
                border: 1px solid #000000;
                transform: rotate(90deg);
            }
            }
    }

    .middle{
        display: flex;
        flex-direction: row;
        width: 100%;

        .left{
                display: flex;
                width: 55%;
                flex-direction: row;

            .main-view{
                width: 100%;
                height: 100vh;
                display: flex;
                flex-direction: column;

                .view-1{
                    width: 111px;
                    height: 139px;
                    position: absolute;
                    left: 52px;
                    top: 210px;
                    background: linear-gradient(180deg, #675E9D 0%, #9D5E84 100%);
                    border: 1px solid #000000;
                }

                .view-2{
                    position: absolute;
                    width: 111px;
                    height: 139px;
                    left: 51px;
                    top: 401px;
                    background: linear-gradient(180deg, rgba(103, 94, 157, 0.5) 0%, rgba(157, 94, 132, 0.5) 100%);
                    border: 1px solid rgba(0, 0, 0, 0.7);
                }

                p{
                    position: absolute;
                    width: 163px;
                    height: 35px;
                    left: 25px;
                    top: 573px;
                    
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 32px;
                    text-align: center;
                    
                    color: #000000;
                }
            }

            .item-photo{
                box-sizing: border-box;

                position: absolute;
                width: 475px;
                height: 591px;
                left: 281px;
                top: 210px;
                
                background: linear-gradient(180deg, #675E9D 0%, #9D5E84 100%);
                border: 1px solid #000000;
                box-shadow: 7px 13px 0px rgba(0, 0, 0, 0.75);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                gap: 200px;
                h2{
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 46px;
                    text-align: center;
                    letter-spacing: 0.64em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

                h3{
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 46px;
                    text-align: center;
                    letter-spacing: 0.64em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }
        }

        .right{
            display: flex;
            flex-direction: column;
            width: 40%;
            // border: 1px solid;
            h2{
                position: absolute;
                width: 480px;
                height: 103px;
                left: 899px;
                top: 206px;
                
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 32px;
                
                color: #000000;
            }

            .personalise{
                box-sizing: border-box;

                position: absolute;
                width: 443px;
                height: 68px;
                left: 897px;
                top: 302px;
                
                // background-color: #FFFFFF;
                border: 1px solid #000000;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                h3{
                    // position: absolute;
                    width: 163px;
                    height: 35px;
                    font-family: 'Jost';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 32px;
                    text-align: center;
                    
                    color: black;
                }
            }

            .addToCart{
                box-sizing: border-box;
                position: absolute;
                width: 443px;
                height: 68px;
                left: 899px;
                top: 392px;
                background: #FFFFFF;
                border: 1px solid #000000;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                gap: 100px;
                align-items: center;
                justify-content: space-between;
                .cart-size{
                    width: 377px;
                    height: 68px;
                    text-align: center;
                    background-color: #000000;
                    border: 1px solid #000000;
                    h3{
                        color: white;
                        line-height: 60px;
                    }
                }

                .icon-size{
                    box-sizing: border-box;
                    position: absolute;
                    width: 64px;
                    height: 68px;
                    left: 376px;
                    // top: 392px;
                    
                    background-color: #FFFFFF;
                    border-width: 1px 0px 1px 0px;
                    border-style: solid;
                    border-color: #000000;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    a{
                        color: #319A5B;
                        font-size: 20px;
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }

            p{
                position: absolute;
                width: 480px;
                height: 103px;
                left: 899px;
                top: 488px;
                
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 32px;
                
                color: #000000;
            }

            .material{
                box-sizing: border-box;

                position: absolute;
                width: 443px;
                height: 68px;
                left: 899px;
                top: 635px;
                
                background: #FFFFFF;
                border: 1px solid #000000;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 150px;
                a{
                    font-size: 20px;
                    color: black;
                    padding-right: 20px;
                }
            }

            .dimensions{
                box-sizing: border-box;

                position: absolute;
                width: 443px;
                height: 68px;
                left: 899px;
                top: 725px;
                
                background: #FFFFFF;
                border: 1px solid #000000;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 110px;
                a{
                    font-size: 20px;
                    color: black;
                    padding-right: 20px;
                }
            }
        }
    }
}